<form method="GET" action="/quizes">
<span>Busca la pregunta:</span>
<input type='text' name='search' />
<input type='submit' value='Enviar la consulta' />
</form>
<table>
<% var i;
for (i=0; i< quizes.length; i++) { %>
	<tr>
		<td>
			<a href='/quizes/<%= quizes[i].id%>'><%= quizes[i].pregunta %></a>
			<span> (<%= quizes[i].tematica %>)</span>
		</td>
		<td>
			<a href='/quizes/<%= quizes[i].id %>/edit'><button>Editar</button></a>
		</td>
		<td>
			<form method="POST" action="/quizes/<%= quizes[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('¿Desea borrar <%= quizes[i].pregunta %>?');">
				Borrar
				</button>
			</form>
		</td>
	</tr>
<% } %>
</table>
<p>
<a href='/quizes/new'><button type="button">Crear pregunta</button></a>
</p>